//  -------------------------------------                   Header 區  開始                     -------------------------------------  //
 //引用系統上選單文字大小設定變數, 執行RWD 文字大小變化
 @include laptop {
   :root {
     --header-font-size: var(--header-font-size) * 0.95 !important;
   }
 }
 @include laptop-m {
   :root {
     --header-font-size: var(--header-font-size) * 0.89 !important;
   }
 }
 //上選單文字顏色
 $line-color:#ddd;
 $menu-link: var(--o-color-5);
 $menu-link-hover: var(--o-color-1);
 //下拉選單
 $sub-menu: var(--o-color-5);
 $sub-menu-hover: var(--o-color-1);
 .o_header_affixed.o_header_is_scrolled .navbar-brand img{
   height: 50px;
 }
 header#top {
   .navbar {
     padding: 15px 0;
     @include media-breakpoint-down(md) {
       padding: 10px 0;
     }
   }
   .navbar-brand.logo {
     display: flex;
     align-items: end;
     margin-right: 5px !important;
   }
   .o_no_autohide_item {
     .font-weight-bold {
       font-weight: normal;
       font-size: 15px !important;
     }
     .dropdown-menu {
       a {
         font-size: 16px;
       }
     }
   }
   #top_menu {
     >.nav-item {
       >a.nav-link {
         color: $menu-link;
         padding: 5px 15px;
         margin: 0 5px;
         font-weight: 600;
         position: relative;
         @include transition;
         @include laptop {
           padding: 5px 10px;
           margin: 0 1px;
           font-size: 17px;
         }
         span {
           position: relative;
           z-index: 2;
         }
         &:hover {
           color: $menu-link-hover;
         }
       }
       &.show,
       &.active {
         >a.nav-link {
           color: $menu-link-hover;
           &:hover {
             color: $menu-link-hover;
           }
         }
       }
       &.o_wsale_quote_cart {
         margin-left: 0 !important;
         margin-right: 0 !important;
       }
       &.o_wsale_quote_cart,
       &.o_portal_header_user_dropdown,
       &.addon_nav_searchbar {
         .nav-link {
           @include media-breakpoint-up(lg) {
             padding: 5px 10px;
             margin: 0;
           }
           &::after {
             display: none;
           }
           &:hover {
             color: $menu-link-hover;
           }
         }
       }
       .dropdown-toggle {
         &::after {
           border: 0;
         }
       }
     }
     .dropdown-menu{
       .dropdown-item,
       a.nav-link{
         font-size: 17px;
         padding:8px 10px;
         color: $sub-menu;
         @include transition;
         &:hover{
           color: $sub-menu-hover;
         }
       }
     }
     .dropdown-menu:not(.o_mega_menu) {
       @include media-breakpoint-up(lg) {
         padding: 0;
         margin-top: 26px;
       }
       >li+li {
         @include media-breakpoint-up(lg) {
           border-top: 1px solid $line-color;
         }
       }
       .dropdown-item {
         @include media-breakpoint-up(lg) {
           @include transition;
         }
         &.active {
           @include media-breakpoint-up(lg) {
             color: #fff !important;
             background-color: $primary;
           }
           @include media-breakpoint-down(md) {
             background-color: transparent;
             color: $primary !important;
           }
           &:hover {
             background-color: $primary;
             @include media-breakpoint-down(md) {
               background-color: transparent;
               color: $primary !important;
             }
           }
         }
         &:hover:not(.active) {
           @include media-breakpoint-up(lg) {
             color: #fff !important;
             background-color: $primary;
           }
           @include media-breakpoint-down(md) {
             background-color: transparent;
             color: $primary !important;
           }
         }
       }
     }
     .addon_nav_searchbar.dropdown{
       @include media-breakpoint-up(lg) {
         position: static;
       }
       >.dropdown-menu{
         @include media-breakpoint-up(lg) {
           left: 0;
           margin-top: 0;
           padding-left: var(--container-pd-x) !important;
           padding-right: var(--container-pd-x) !important;
           background-color: $line-color;
           padding-top: 16px !important;
           padding-bottom: 16px !important;
         }
         .o_searchbar_form{
           @include media-breakpoint-up(lg) {
             max-width: 800px;
             margin: 0 auto;
           }
         }
       }
     }
   }
   .addon_nav_searchbar {
     .dropdown-toggle {
       >.fa-search::before {
         font-size: calc(var(--header-font-size) + 0.2rem);
       }
     }
     .dropdown-menu {
       padding: 10px !important;
       border: 1px solid rgba(0, 0, 0, 0.15) !important;
       @include media-breakpoint-down(md) {
         padding: 0 !important;
         border: 0 !important;
       }
       .oe_search_button {
         padding: 2px 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         .fa-search {
           &::before {
             filter: brightness(10);
             @include transition;
           }
         }
         &:hover {
           background-color: $secondary;
           border-color: $secondary;
           .fa-search {
             filter: none;
           }
         }
       }
     }
     .nav-link {
       line-height: 1;
     }
   }
   .js_language_selector {
     margin-top: 0 !important;
     .dropdown-menu {
       right: 0;
       left: auto;
       margin-top: 8px;
       padding:0;
     }
     .btn-outline-secondary {
       padding: 0;
       color: var(--o-color-5);
       &::after {
         display: none;
       }
       &::before {
         content: "\f0ac";
         font-family: "fontawesome";
         font-size: calc(var(--header-font-size) + 0.2rem);
         @include transition;
       }
       img {
         margin-right: 0;
         display: none;
       }
       span.align-middle {
         display: none;
       }
     }
     &:hover,
     &.show {
       .btn-outline-secondary {
         background-color: transparent;
         &::before {
           color: $menu-link-hover;
         }
       }
     }
     .js_change_lang img {
       display: none;
     }
     .dropdown-menu {
       .js_change_lang {
         font-size: 17px;
       }
       .js_change_lang.active {
         color: #fff !important;
       }
     }
   }
 }
 .navbar-expand-lg>.container {
   @include media-breakpoint-down(md) {
     padding-left: var(--container-pd-x);
     padding-right: var(--container-pd-x);
   }
 }
 header .navbar .dropdown-menu {
   @include media-breakpoint-up(lg) {
     max-height: 75vh;
   }
 }
 //手機版三條線選單按鈕
 .navbar-toggler {
   width: 30px;
   height: 26px;
   position: relative;
   transform: rotate(0deg);
   transition: .5s ease-in-out;
   outline: 0;
   border: 0 !important;
   cursor: pointer;
   margin-left: 10px !important;
   margin-right: 0;
   @include mobile-xs {
     width: 28px;
     height: 22px;
   }
   &::before,
   &::after {
     content: "";
   }
   &:focus {
     outline: 0;
   }
   .navbar-toggler-icon {
     background-image: none !important;
   }
   &::before,
   &::after,
   .navbar-toggler-icon {
     display: block;
     position: absolute;
     height: 2px;
     width: 100%;
     background: #000;
     border-radius: 9px;
     opacity: 1;
     left: 0;
     transform: rotate(0deg);
     transition: .25s ease-in-out;
   }
   &::before {
     top: 0;
   }
   .navbar-toggler-icon {
     top: 10px;
     @include mobile-xs {
       top: 8px;
     }
   }
   &:after {
     top: 20px;
     @include mobile-xs {
       top: 16px;
     }
   }
   &[aria-expanded="true"] {
     &::before {
       top: 12px;
       transform: rotate(135deg);
       @include mobile-xs {
         top: 10px;
       }
     }
     .navbar-toggler-icon {
       opacity: 0;
       left: -60px;
     }
     &:after {
       top: 12px;
       transform: rotate(-135deg);
       @include mobile-xs {
         top: 10px;
       }
     }
   }
 }
 @include media-breakpoint-down(md) {
   /* 滾動時不考慮 #oe_main_menu_navbar，只留 header > nav 的高度 */
   /*登入時手機板選單距離 選單高度 + 編輯控制區塊 開始*/
   body.o_connected_user{
     &.scrolled{
       header#top .navbar-collapse {
         top: 70px; //   header高度 70px
         height: calc(100vh - (var(--o-we-toolbar-height) + 70px)); // 扣除 往下滾動後  header高度 70px
       }
     }
     header#top{
       .navbar-collapse {
         top: calc(var(--o-we-toolbar-height) + 80px);
         height: calc(100vh - (var(--o-we-toolbar-height) + 80px)); // 扣除  header 高度 80px
       }
     }
   }
   /*登入時手機板選單距離 選單高度 + 編輯控制區塊  結束*/
   /*非登入手機板選單距離 選單高度 開始*/
   body:not(.o_connected_user){
     &.scrolled{
       header#top .navbar-collapse {
         top: 70px;  //   header高度 70px
         height: calc(100vh -  70px); // 扣除 往下滾動後  header高度 70px
       }
     }
     header#top{
       .navbar-collapse{
         top:  80px; // header 高度 80px
         height: calc(100vh - 80px); // 扣除  header 高度 80px
       }
     }
   }
   /*非登入手機板選單距離 選單高度 結束*/
   header#top{
     .show #top_menu,
       #top_menu{
         text-align: left;
         >.nav-item{
           //border-bottom: 1px solid $line-color;
           &.o_wsale_quote_cart{
             display: none !important;
           }
           &.addon_nav_searchbar{
             >.dropdown-toggle{
               display: none;
             }
             .dropdown-menu{
               display: block !important;
               position: static;
               padding-top:10px !important;
               padding-bottom:10px !important;
               background-color: transparent !important;
             }
           }
           &.show{
             padding-bottom: 10px;
           }
           >a.nav-link{
             padding:  10px var(--container-pd-x);
             font-size: 19px;
             font-weight: normal;
             margin: 0;
           }
           &.o_portal_header_user_dropdown >a.nav-link.dropdown-toggle,
           >a.nav-link.dropdown-toggle{
             position: relative;
             padding-right:  calc(15px + var(--container-pd-x));
             &::after{
               content: "\f107";
               font-family: "fontawesome";
               position: absolute;
               right: var(--container-pd-x);
               top:12px;
               display: block;
             }
             &[aria-expanded="true"]{
               &::after{
                 content: "\f106";
               }
             }
           }
         }
         .dropdown-menu{
           border: 0;
           padding:5px 0;
           background-color: #f5f5f5;
           .dropdown-item{
             padding:5px 15px;
             font-size: 16px;
           }
           &:not(.o_mega_menu){
            margin: 0 var(--container-pd-x);
           }
         }
         .o_mega_menu{
           .container{
             padding-left: var(--container-pd-x);
             padding-right: var(--container-pd-x);
           }
         }
       }
       /* 讓選單變成滿版 */
       .navbar-collapse {
         position: fixed;
         width: 100%;
         left: 0;
         background: white;
         z-index: 999;
         opacity: 0;
         visibility: hidden;
         max-height: none;
         transition: opacity 0.5s ease-in-out, transform 0.5s, visibility 0.5s;
       }
         /* 展開選單時 (淡入) */
       .navbar-collapse.show {
         opacity: 1;
         visibility: visible;
         max-height: none;
       }
       /* 關閉時 (修正 Bootstrap 的 .collapsing) */
       .navbar-collapse.collapsing {
         opacity: 0;
         visibility: hidden;
         transition: opacity 0.2s ease-in-out, transform 0.2s, visibility 0.2s;
       }
       .js_language_selector{
         padding: 0 var(--container-pd-x);
         .dropdown-toggle{
           display: none;
         }
         .dropdown-menu{
           position: static;
           float: none;
           display: flex;
           flex-wrap: wrap; /* 允許 `.dropdown-item` 自動換行 */
           justify-content: space-between; /* 均分按鈕 */
           padding:5px 0px ;
           border:0;
           border-radius: 0;
           margin-bottom: 20px !important;
           gap: 5px;
           .dropdown-item{
             flex: 1 1 auto; /* 讓每個 `.dropdown-item` 均分寬度，自適應內容 */
             min-width: 120px; /* 設定最小寬度，避免過小 */
             width: auto;
             display: flex;
             align-items: center;
             justify-content: center;
             white-space: nowrap; /* 確保 `span` 內文字不換行 */
             text-align: center;
             border-radius: var(--btn-border-radius-sm);
             border:1px solid $line-color;
           }
         }
       }
   }
   #navbar_subnav{
     display: block !important;
     margin-left: auto;
     >.navbar-nav{
       .o_wsale_quote_cart.nav-item{
         display: block !important;
       }
     }
   }
   .oe_structure_solo{
     .btn_cta{
         padding:5px 8px;
         font-size: 15px;
     }
   }
   /* 禁止滾動 */
   body.overflow-hidden {
     position: fixed;
     width: 100%;
     overflow: hidden;
     main,
     footer {
       pointer-events: none;
     }
   }
 }
 @include mobile-s{
   .oe_structure_solo{
     .btn_cta{
         padding:5px;
         font-size: 12px;
     }
   }
 }
 //  -------------------------------------                   Header 區結束                        -------------------------------------  //
 //  -------------------------------------                   RWD詢價圖片飄移調整  開始                     -------------------------------------  //
 header:not(.o_top_menu_collapse_shown) {
   // 1199.98px
   // 自行調整成漢堡選單出現的尺寸
   @include media-breakpoint-down(md) {
     height: unset !important;
     &#top #top_menu_collapse {
       height: 0 !important;
       padding: 0 !important;
       display: block !important;
       margin: 0 !important;
       opacity: 0 !important;
       pointer-events: none;
     }
     &#top #top_menu_collapse #top_menu .o_wsale_quote_cart {
       display: block !important;
       position: absolute;
       top: 15px;
       right: 140px; // 位置如果有偏移，再自己調一下這邊的數字
       width: auto !important;
     }
   }
 }
 //  -------------------------------------                   RWD詢價圖片飄移調整 結束                        -------------------------------------  //
 //  -------------------------------------                   icon 特色清單 開始                       -------------------------------------  //
 .s_custom_iconCardHorizontal {
     .static_snippet_template >.row {
       >.col-lg-2 {
           @include media-breakpoint-down(md) {
             flex: 0 0 33.33%;
             max-width: 33.33%;
           }
           @include media-breakpoint-down(sm) {
             flex: 0 0 50%;
             max-width: 50%;
           }
           @include media-breakpoint-down(xs) {
             flex: 0 0 100%;
             max-width: 100%;
           }
       }
       >.col-lg-6 {
         @include media-breakpoint-down(lg) {
             flex: 0 0 50%;
             max-width: 50%;
         }
         @include media-breakpoint-down(sm) {
           flex: 0 0 100%;
           max-width: 100%;
         }
       }
     }
   .o_carousel_product_card {
     padding: 0 !important;
     border-color: transparent !important;
     background-color: unset !important;
     &:hover {
       border-color: transparent !important;
     }
     &::after {
       content: none;
     }
     >.row {
       align-items: flex-start;
       gap: 10px 30px;
       margin: 0;
       @include media-breakpoint-down(md) {
         gap: 10px 0;
       }
       >div.icon-content {
         padding: 10px !important;
       }
       >.o_carousel_product_card_body {
         padding-top: 0;
         // padding-right: 20px !important;
         padding-left: 0 !important;
           padding-right: 0 !important;
         // @include media-breakpoint-down(md) {
         //   padding-right: 0 !important;
         // }
         @include media-breakpoint-down(sm) {
           text-align: left;
         }
         &.col-lg-1 {
           @include media-breakpoint-up(lg) {
                flex: 0 0 calc(8.33333333% - 30px);
                max-width: calc(8.33333333% - 30px);
           }
         }
         &.col-lg-2 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(16.66666667% - 30px);
             max-width: calc(16.66666667% - 30px);
           }
         }
         &.col-lg-3 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(25% - 30px);
             max-width: calc(25% - 30px);
           }
         }
         &.col-lg-4 {
            @include media-breakpoint-up(lg) {
             flex: 0 0 calc(33.33333333% - 30px);
             max-width: calc(33.33333333% - 30px);
           }
         }
         &.col-lg-5 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(41.66666667% - 30px);
             max-width: calc(41.66666667% - 30px);
           }
         }
         &.col-lg-6 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(50% - 30px);
             max-width: calc(50% - 30px);
           }
         }
         &.col-lg-7 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(58.33333333% - 30px);
             max-width: calc(58.33333333% - 30px);
           }
         }
         &.col-lg-8 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(66.66666667% - 30px);
             max-width: calc(66.66666667% - 30px);
           }
         }
         &.col-lg-9 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(75% - 30px);
             max-width: calc(75% - 30px);
           }
         }
         &.col-lg-10 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(83.33333333% - 30px);
             max-width: calc(83.33333333% - 30px);
           }
         }
         &.col-lg-11 {
           @include media-breakpoint-up(lg) {
             flex: 0 0 calc(91.66666667% - 30px);
             max-width: calc(91.66666667% - 30px);
           }
         }
       }
     }
   }
   .card-title>* {
     margin-bottom: 0;
   }
 }
 //  icon 特色清單 -- icon 比例 1:1
 .s_custom_iconCardHorizontal.s_custom_1x1 .o_carousel_product_card > .row > .icon-content {
   aspect-ratio: 1/1;
   @media(max-width: 991px) {
     flex: 0 0 130px;
   }
 }
 //  -------------------------------------                   icon 特色清單 結束                      -------------------------------------  //
//  -----------------------       三連區 - 公司簡介+產品簡述+產品(中間背景穿插3區塊)  開始        --------------------------------  //
  //背景圖hover效果 + 文字在背景之上 開始//
  .s_custom_textInnerBg {
    position: relative;
    &:hover {
     .col-bg img {
        transform: scale(1.05);
     }
    }
    >div {
      position: static;
      @include media-breakpoint-down(md) {
        padding-right: var(--container-pd-x);
        padding-left: var(--container-pd-x);
      }
    }
    .row > [class*='col']:not(.col-bg) {
      padding: clamp(20px, 2vw, 40px);
      position: relative;
      z-index: 2;
    }
  }
  #wrapwrap:not(.odoo-editor-editable) .s_custom_textInnerBg {
      .col-bg {
        display: flex;
        justify-content: stretch;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        >* {
            width: 100%;
            margin-bottom: 0;
        }
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            @include transition;
        }
    }
      a::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
  }
  //背景圖hover效果 + 文字在背景之上 開始//
.s_custom_threeChains {
   .first-content {
       padding-left: calc(var(--container-pd-x) + (100% - #{$wrap-size}) / 2);
       padding-right: calc(var(--container-pd-x) + (100% - #{$wrap-size}) / 2);
      @include wrap {
          padding-left: var(--container-pd-x);
          padding-right: var(--container-pd-x);
      }
      @include media-breakpoint-down(sm) {
          padding: 0;
      }
   }
  .bg-effect {
      flex: auto;
      max-width: unset;
      width: unset;
    }
  .bg-effect,
  .third-content {
    section >.container {
      @include wrap {
          padding: 0 var(--container-pd-x);
      }
    }
  }
}
#wrapwrap:not(.odoo-editor-editable) .s_custom_threeChains {
    >*>.row>[class*='col']:not(.bg-effect) {
        z-index: 1;
    }
  .bg-effect {
    margin: -240px 0;
    padding: 0;
    @include media-breakpoint-down(sm) {
        margin: -140px 0;
    }
    section {
      padding: 300px 0 !important;
      @include media-breakpoint-down(sm) {
          padding: 200px 0 !important;
      }
      >div {
          padding-left: var(--container-pd-x);
          padding-right: var(--container-pd-x);
      }
    }
  }
}
//  -----------------------       三連區 - 公司簡介+產品簡述+產品(中間背景穿插3區塊)  結束       --------------------------------  //
 //------------- staticCarousel2 開始 -----------------------//
 body:not(.editor_started){
   .s_custom_staticCarousel2{
     .o_carousel_product_card{
       &:hover{
         .o_carousel_product_card_body{
           background-color: rgba(0,0,0,0.2);
         }
         .card-title {
           border:1px solid #fff;
           background-color: rgba(0,0,0,0.5);
         }
       }
     }
     .o_carousel_product_card_body{
       position: absolute;
       left: 0;
       top:0;
       right: 0;
       bottom:0;
       pointer-events: none;
     }
   }
 }
 .s_custom_staticCarousel2{
   .static_snippet_template{
     >.row{
       margin-left: 0;
       margin-right: 0;
       >div[class*="col-"]{
         padding-left: 0;
         padding-right: 0;
       }
     }
     .o_carousel_product_card{
       padding: 0 !important;
       border-right:1px solid rgba(136, 136, 136, 0.2);
     }
     .o_carousel_product_card_body{
       background-color: rgba(0,0,0,0.7);
       padding:30px;
       @include transition;
       .card-title {
         border:1px solid rgba(255,255,255,0);
         background-color: rgba(0,0,0,0);
         margin: 0 !important;
         height: 100%;
         display: flex ;
         align-items: center;
         justify-content: center;
         @include transition;
          h3, h4, h5, h6, .h3, .h4, .h5, .h6{
           color:#fff;
         }
       }
     }
   }
 }
 //------------- staticCarousel2 結束 -----------------------//
 //  -------------------------------------            Counter color 開始開            -------------------------------------  //
 .s_custom_counterPrimary {
   .counter-before,
   .counter-after {
     //font-size: clamp(16px, 2vw, 20px);
     //font-weight: bold;
   }
 }
 .s_custom_counterPrimary {
   .counter-before,
   .counter-after {
     color: $primary;
   }
 }
 .s_custom_counterSecondary {
   .counter-before,
   .counter-after {
     color: $secondary;
   }
 }
 //  -------------------------------------             Counter color 結束              -------------------------------------  //
  // ------------ footer 手機版開合選單 開始 links -------------//
 .o_footer{
   .s_text_block{
     >.container>.row{
       >div[class*="col-"]:last-child{
         @include media-breakpoint-up(md) {
           order: -1;
         }
       }
     }
   }
 }
 .s_custom_footerTab{
   .accordion{
     .card{
       border:0;
       @include media-breakpoint-down(sm) {
         .h4,.h5,.h6{
           border-bottom:1px solid #5c5c5c;
           margin-bottom: 0;
           padding-bottom:5px;
           padding-top: 5px;
         }
       }
       .card-header{
         padding:0;
         border-bottom:0;
         margin-bottom: 0;
         background-color:  transparent ;
         color: var(--o-cc5-h5); //footer選單標題顏色
         &.collapsed:before{
           content: "\f107";
         }
         &::before{
           content: "\f106";
         }
         &:hover{
           color: var(--o-cc5-h5); //footer選單標題顏色
           filter: none;
         }
       }
       .card-body:first-child{
         @include media-breakpoint-down(sm) {
           padding:8px 10px;
         }
       }
       .list-item{
         a{
           opacity: 0.7;
           @include transition;
           &:hover{
             opacity: 1;
             color:#fff;
           }
         }
       }
       .list-item +.list-item{
         margin-top: 3px;
       }
     }
     @include media-breakpoint-up(md) {
       display: flex;
       margin-left: -15px;
       margin-right: -15px;
       .card{
         flex: 1;
         padding-left: 15px;
         padding-right: 15px;
         .card-header{
           &::before{
             display: none;
           }
         }
         .collapse,
         .collapsing{
           display: block !important;
         }
       }
       .card-body:first-child{
         margin-top: 0;
         padding:0;
       }
     }
   }
 }
 // ------------ footer 手機版開合選單  Links 結束 -------------------//
